.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.mainFull {
  flex: 1;
  padding: 0;
  max-width: none;
  margin: 0;
  width: 100%;
}
